@model Laptopseller.Models.Laptop

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
No of products in cart @ViewBag.Cartnum

<h2>Cart Index</h2>

<table class="table">
    <thead>
        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a class="btn btn-outline-danger" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.LaptopID">Remove</a></td>
                <td>@item.Product.Model</td>
                <td>@item.Product.Price</td>
                <td>@item.Qunatity</td>
                <td>@(item.Product.Price * item.Qunatity)</td>
            </tr>

        }

    </tbody>

    <tfoot>
        <tr>
            <th colspan="5">Total</th>
            <td>@ViewBag.total</td>
        </tr>
    </tfoot>

</table>
<br />
<br /><a asp-controller="Laptop" class="btn btn-outline-info" asp-action="Index">Continue Shopping</a>
<a asp-controller="Cart" class="btn btn-outline-info" asp-action="Clearcart">Clear Cart</a>







